<div id="keyboardModal" class="modal">
    <div class="modal-content">
        <div class="input-devices">
            <!-- Клавиатура -->
            <div class="keyboard-container">
                <h3>Клавиатура</h3>
                <!-- Функциональные клавиши -->
                <div class="keyboard-row">
                    <div class="key" data-key="Esc">Esc</div>
                    <div class="key" data-key="F1">F1</div>
                    <div class="key" data-key="F2">F2</div>
                    <div class="key" data-key="F3">F3</div>
                    <div class="key" data-key="F4">F4</div>
                    <div class="key" data-key="F5">F5</div>
                    <div class="key" data-key="F6">F6</div>
                    <div class="key" data-key="F7">F7</div>
                    <div class="key" data-key="F8">F8</div>
                    <div class="key" data-key="F9">F9</div>
                    <div class="key" data-key="F10">F10</div>
                    <div class="key" data-key="F11">F11</div>
                    <div class="key" data-key="F12">F12</div>
                </div>

                <!-- Дополнительные функциональные клавиши -->
                <div class="keyboard-row">
                    <div class="key" data-key="PrintScreen">PrtSc</div>
                    <div class="key" data-key="ScrollLock">ScrLk</div>
                    <div class="key" data-key="Pause">Pause</div>
                    <div class="key" data-key="Insert">Ins</div>
                    <div class="key" data-key="Home">Home</div>
                    <div class="key" data-key="PageUp">PgUp</div>
                    <div class="key" data-key="Delete">Del</div>
                    <div class="key" data-key="End">End</div>
                    <div class="key" data-key="PageDown">PgDn</div>
                </div>

                <!-- Основные клавиши -->
                <div class="keyboard-row">
                    <div class="key" data-key="`">~<br>`</div>
                    <div class="key" data-key="1">!<br>1</div>
                    <div class="key" data-key="2">@<br>2</div>
                    <div class="key" data-key="3">#<br>3</div>
                    <div class="key" data-key="4">$<br>4</div>
                    <div class="key" data-key="5">%<br>5</div>
                    <div class="key" data-key="6">^<br>6</div>
                    <div class="key" data-key="7">&<br>7</div>
                    <div class="key" data-key="8">*<br>8</div>
                    <div class="key" data-key="9">(<br>9</div>
                    <div class="key" data-key="0">)<br>0</div>
                    <div class="key" data-key="-">_<br>-</div>
                    <div class="key" data-key="=">+<br>=</div>
                    <div class="key backspace" data-key="Backspace">Backspace</div>
                </div>

                <div class="keyboard-row">
                    <div class="key tab" data-key="Tab">Tab</div>
                    <div class="key" data-key="q">Q</div>
                    <div class="key" data-key="w">W</div>
                    <div class="key" data-key="e">E</div>
                    <div class="key" data-key="r">R</div>
                    <div class="key" data-key="t">T</div>
                    <div class="key" data-key="y">Y</div>
                    <div class="key" data-key="u">U</div>
                    <div class="key" data-key="i">I</div>
                    <div class="key" data-key="o">O</div>
                    <div class="key" data-key="p">P</div>
                    <div class="key" data-key="[">{<br>[</div>
                    <div class="key" data-key="]">}<br>]</div>
                    <div class="key" data-key="\"">|<br>\</div>
                </div>

                <div class="keyboard-row">
                    <div class="key caps" data-key="CapsLock">Caps</div>
                    <div class="key" data-key="a">A</div>
                    <div class="key" data-key="s">S</div>
                    <div class="key" data-key="d">D</div>
                    <div class="key" data-key="f">F</div>
                    <div class="key" data-key="g">G</div>
                    <div class="key" data-key="h">H</div>
                    <div class="key" data-key="j">J</div>
                    <div class="key" data-key="k">K</div>
                    <div class="key" data-key="l">L</div>
                    <div class="key" data-key=";">:<br>;</div>
                    <div class="key" data-key="'">"<br>'</div>
                    <div class="key enter" data-key="Enter">Enter</div>
                </div>

                <div class="keyboard-row">
                    <div class="key shift" data-key="Shift">Shift</div>
                    <div class="key" data-key="z">Z</div>
                    <div class="key" data-key="x">X</div>
                    <div class="key" data-key="c">C</div>
                    <div class="key" data-key="v">V</div>
                    <div class="key" data-key="b">B</div>
                    <div class="key" data-key="n">N</div>
                    <div class="key" data-key="m">M</div>
                    <div class="key" data-key=",">&lt;<br>,</div>
                    <div class="key" data-key=".">><br>.</div>
                    <div class="key" data-key="/">?<br>/</div>
                    <div class="key shift" data-key="Shift">Shift</div>
                </div>

                <div class="keyboard-row">
                    <div class="key ctrl" data-key="Ctrl">Ctrl</div>
                    <div class="key win" data-key="Win">Win</div>
                    <div class="key alt" data-key="Alt">Alt</div>
                    <div class="key space" data-key="Space">Space</div>
                    <div class="key alt" data-key="Alt">Alt</div>
                    <div class="key win" data-key="Win">Win</div>
                    <div class="key menu" data-key="Menu">Menu</div>
                    <div class="key ctrl" data-key="Ctrl">Ctrl</div>
                </div>

                <div class="keyboard-row">
                    <div class="key" data-key="ArrowLeft">←</div>
                    <div class="key" data-key="ArrowDown">↓</div>
                    <div class="key" data-key="ArrowUp">↑</div>
                    <div class="key" data-key="ArrowRight">→</div>
                </div>
            </div>

            <!-- Мышь -->
            <div class="mouse-container">
                <h3>Мышь</h3>
                <div class="mouse-body">
                    <div class="mouse-buttons">
                        <div class="key mouse-button" data-key="MouseLeft">ЛКМ</div>
                        <div class="mouse-wheel">
                            <div class="key wheel-up" data-key="ScrollUp">↑</div>
                            <div class="key mouse-button" data-key="MouseMiddle">СКМ</div>
                            <div class="key wheel-down" data-key="ScrollDown">↓</div>
                        </div>
                        <div class="key mouse-button" data-key="MouseRight">ПКМ</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Кнопки управления -->
        <div class="control-buttons">
            <button id="applyHotkey" class="btn btn-primary">Применить</button>
            <button id="cancelHotkey" class="btn btn-secondary">Отмена</button>
            <button id="clearHotkey" class="btn btn-danger">Очистить</button>
        </div>
    </div>
</div> 